body
{
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
    font-family: Helvetica, Arial, sans-serif;
}

.menu
{
    position: fixed;
    top: 0;
    left: 0;
    width: 400px;
    height: 100%;
    padding: 40px;
    background: #dddddd;
    box-sizing: border-box;
    transform: translateX(-100%);
    transition: transform 0.4s cubic-bezier(0, 0, 0.2, 1);
}

.menu.active
{
    transform: translateX(0);
}

.menu-trigger
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 10%;
    right: 10%;
    width: 40px;
    height: 40px;
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
}

.menu-trigger .bar
{
    width: 26px;
    height: 4px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.menu-trigger .bar:first-child,
.menu-trigger .bar:last-child
{
    background: #e5a378;
}

.menu-trigger .bar:nth-child(2)
{
    background: #83c83f;
}

.menu-trigger .bar:nth-child(3)
{
    background: #c04e4e;
}