.alert
{
    display: none;
    position: absolute;
    top: 100px;
    left: 100px;
    background: pink;
    padding: 80px;
}

html.no-deviceorientation .alert
{
    display: block;
}

@media (orientation: portrait)
{
    body
    {
        background: red;
    }
}

@media (min-height: 600px) and (max-height: 700px)
{
    body
    {
        background: green;
    }
}

@media print
{
    h1
    {
        display: none;
    }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
{
    body::after
    {
        content: 'Pixel ratio supérieur à 2';
    }
}