h1 { font-family: Helvetica, Arial, sans-serif; }
h1 { font-size: 40px; }
h1 { font-style: italic; }
h1 { font-weight: 400; }
h1 { text-transform: capitalize; }
h1 a { text-decoration: line-through; }
h1 { opacity: 0.5; }
p {
    /* background-image: url('https://bruno-simon.com/esin/e1-p2026/resources/image-1.jpg'); */
    /* background-repeat: no-repeat; */
    /* background-position: right center; */
    /* background-color: red; */
    /* background: red url('https://bruno-simon.com/esin/e1-p2026/resources/image-1.jpg') center center no-repeat; */
    /* background-size: contain; */
}

p
{
    /* padding-top: 10px; */
    /* padding-right: 80px; */
    /* padding-bottom: 40px; */
    /* padding-left: 20px; */

    padding: 80px 40px;
    background: yellow;
    margin: 40px;

    border-width: 1px;
    border-style: solid;
    border-color: red;

    border: 5px red solid;
}

.titi
{
    display: inline;
}

.tutu
{
    display: block;
}

.link
{
    background: orangered;
    color: white;
    text-decoration: none;
    font-size: 30px;
    padding: 30px 50px;
    display: inline-block;
}

.parent
{
    position: relative;
    width: 500px;
    height: 400px;
    background: pink;
    overflow: hidden;
}

.toto
{
    position: absolute;
    width: 200px;
    height: 200px;
    top: 50px;
    left: 50px;
    background-color: blue;
    color: white;
    z-index: 1000;
}

.tata
{
    position: absolute;
    width: 200px;
    height: 200px;
    top: 150px;
    left: 150px;
    background-color: red;
    color: white;
    z-index: 15;
}